ul {
  display: flex;
  gap: 4.918%;
  justify-content: center;
  list-style: none;
}

.icon-link {
  border: 1px solid white;
}

.icon-link:hover {
  border-color: var(--color-soft-magenta);
  color: var(--color-soft-magenta);
}
