:host {
  background-image: url(../assets/images/bg-mobile.svg);
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  height: 50rem;
  padding: 2rem 9.333%;
  text-align: center;
}

header {
  margin-bottom: 3.5rem;
  text-align: left;
}

img {
  width: 8rem;
}

footer {
  margin-top: auto;
}
