:host {
  background-image: url(../assets/images/bg-mobile.svg);
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  height: 50rem;
  padding: 2rem 2.187rem;
  text-align: center;
  width: 23.437rem;
}

header {
  margin-bottom: 3.5rem;
  text-align: left;
}

img {
  width: 8rem;
}

footer {
  margin-top: auto;
}

@media (min-width: 90rem) {
  :host {
    background-image: url(../assets/images/bg-desktop.svg);
    padding: 3.35rem 5.555% 2.5rem 5%;
    text-align: left;
    width: 100%;
  }

  header {
    margin-bottom: 5.1rem;
  }

  img {
    width: 13.4rem;
  }
}
