<header><img src="../assets/images/logo.svg" alt="Logo" /></header>
<main>
  <img src="../assets/images/illustration-mockups.svg" alt="Illustration" />
  <h1>Build The Community Your Fans Will Love</h1>
  <p>
    Huddle re-imagines the way we build communities. You have a voice, but so
    does your audience. Create connections with your users as you engage in
    genuine discussion.
  </p>
  <a extended mat-fab>Register</a>
</main>
<footer>
  <ul>
    <li><mat-icon>instagram</mat-icon></li>
  </ul>
</footer>
