/* You can add global styles to this file, and also import other style files */

@import url(assets/fontawesome/css/fontawesome.min.css);
@import url(assets/fontawesome/css/brands.min.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  --color-violet: hsl(257, 40%, 49%);
  --color-soft-magenta: hsl(300, 69%, 71%);
}

body {
  background-color: var(--color-violet);
  display: flex;
  font-family: "Open Sans", Roboto, "Helvetica Neue", sans-serif;
  justify-content: center;
}
